In [2]:
import pandas as pd
import geopandas
%matplotlib inline

In [3]:
fastfood = pd.read_csv("fastfoodalleghenycountyupdatexy2.csv")
fastfood.head(10)

,Name,Legal_Name,Start_Date,Street_Number,Street_Name,ZIP_Code,Lat,Lon,Category
0,Adrian's Pizza,NaN,11/7/14,605,Thompson Run Rd,15237,40.539465,-79.990764,Take Out
1,Adrian's Pizza Express,Rock Enterprises Inc,4/22/04,7824,Perry Hwy,15237,40.551219,-80.037362,Take Out
2,Allegheny Sandwich Shop,NaN,2/24/97,414,Grant St,15219,40.438110,-79.996860,NO Dollar Menu
3,Allegheny Sandwich Shoppe #3,Allegheny Sandwich Shoppe Inc,11/9/01,440,Ross St,15219,40.438514,-79.995330,NO Dollar Menu
4,Amili's Pizzeria,NaN,2/26/99,1021,Brownsville Rd,15210,40.406082,-79.991863,Take Out
5,Angelia's Pizza,JNG Pizza LLC,5/11/04,202,Moon Clinton Rd,15108,40.513135,-80.223406,Take Out
6,Angelia's Pizza / Chill Frozen Dessserts,Eaton Pizza Inc,10/7/05,410,Penn Lincoln Dr,15126,40.442466,-80.235992,Take Out
7,Antney's Ice Cream,The Iceman Inc,4/11/02,1316,Poplar St,15205,40.427470,-80.052435,"Breakfast, Drink, Other"
8,Arby's,Kinco Inc,1/1/75,1617,Freeport Rd,15065,40.622125,-79.727516,Dollar Menu
9,Arby's #8,Linell Corporation,12/3/07,3974,Wm Penn Hwy,15146,40.437988,-79.772845,Dollar Menu

In [4]:
zipcode = fastfood.groupby('ZIP_Code').count()
zipcode_sorted = zipcode.sort_values(by=['Name'], ascending = False)
zipcode_sorted.head(20)

,Name,Legal_Name,Start_Date,Street_Number,Street_Name,Lat,Lon,Category
ZIP_Code,,,,,,,,
15146,51,50,51,49,51,51,51,51
15222,46,43,46,46,46,46,46,46
15237,44,40,44,44,44,44,44,44
15213,38,37,38,38,38,38,38,38
15205,36,30,36,36,36,36,36,36
15219,27,23,27,27,27,27,27,27
15236,25,22,25,24,25,25,25,25
15235,22,21,22,22,22,22,22,22
15102,21,20,21,21,21,21,21,21
15217,20,20,20,20,20,20,20,20
15203,19,15,19,19,19,19,19,19
15108,19,18,19,19,19,19,19,19
15017,19,18,19,19,19,19,19,19
15238,18,18,18,18,18,18,18,18
15090,18,17,18,18,18,18,18,18
15120,16,14,16,16,16,16,16,16
15122,16,12,16,16,16,16,16,16
15084,15,15,15,15,15,15,15,15
15220,15,14,15,15,15,15,15,15
15241,15,14,15,15,15,15,15,15

In [5]:
zipcode = fastfood.groupby('ZIP_Code').count()
zipcode.sort_values(by=['Name'], ascending = False)

,Name,Legal_Name,Start_Date,Street_Number,Street_Name,Lat,Lon,Category
ZIP_Code,,,,,,,,
15146,51,50,51,49,51,51,51,51
15222,46,43,46,46,46,46,46,46
15237,44,40,44,44,44,44,44,44
15213,38,37,38,38,38,38,38,38
15205,36,30,36,36,36,36,36,36
...,...,...,...,...,...,...,...,...
15148,1,1,1,1,1,1,1,1
15207,1,1,1,1,1,1,1,1
15208,1,1,1,1,1,1,1,1
15282,1,1,1,1,1,1,1,1
15003,1,1,1,1,1,1,1,1

In [6]:
fastfood.loc[fastfood['ZIP_Code'] == 15213]

,Name,Legal_Name,Start_Date,Street_Number,Street_Name,ZIP_Code,Lat,Lon,Category
11,Arby's #164,ARG Co.,7/9/97,3417,Forbes Ave,15213,40.439175,-79.960709,Dollar Menu
76,Bruegger's Bagel Bakery,Bruegger's Enterprises Inc,11/15/92,3714,Forbes Ave,15213,40.441276,-79.956953,"Breakfast, Drink, Other"
132,Chipotle Mexican Grill #863,Chipotle Mexican Grill,12/12/06,3619,Forbes Ave,15213,40.441145,-79.958028,NO Dollar Menu
135,Chipotle Mexican Grill #1146,Chipotle Mexican Grill of Colorado LLC,11/21/08,4800,Baum Blvd,15213,40.454233,-79.947422,NO Dollar Menu
167,Crazy Mocha Coffee Co,Murman & Ohara LLC,3/4/05,207,Oakland Ave,15213,40.441362,-79.956696,"Breakfast, Drink, Other"
169,Crazy Mocha Coffee Co,Murman & O'Hara Enterprises LLC,9/22/04,4400,Forbes Ave,15213,40.442645,-79.950559,"Breakfast, Drink, Other"
227,Dunkin Donuts #348700,HRG Oakland LLC,7/9/10,3907,Forbes Ave,15213,40.442213,-79.956375,"Breakfast, Drink, Other"
243,Einstein Bros Bagels #4055,JRK Foods -Baum LLC,4/2/13,4910,Baum Blvd,15213,40.454553,-79.946117,"Breakfast, Drink, Other"
254,Five Guys Burgers & Fries,Wholesome Burger II LLC,11/10/05,117,S Bouquet St,15213,40.442269,-79.956672,NO Dollar Menu
328,Jimmy John's Sandwich Shop,Millennium Food Inc,8/22/01,3444,Forbes Ave,15213,40.439218,-79.959718,NO Dollar Menu
342,Kentucky Fried Chicken #69,Morgan's Foods Inc,1/3/85,4915,Baum Blvd,15213,40.454945,-79.946229,Dollar Menu
396,McDonald's #1862,NaN,3/5/91,3708,Forbes Ave,15213,40.441141,-79.957148,Dollar Menu
450,Panera Bread #3499,Cadle LLC,8/28/02,3401,Blvd of the Allies,15213,40.436278,-79.958018,NO Dollar Menu
452,Panera Bread #3503,Cadle LLC,11/7/02,3800,Forbes Ave,15213,40.441539,-79.956440,NO Dollar Menu
461,Papa John's Pizza #344,Betco 36 Bajco Venture LLC,6/25/13,4815,Centre Ave,15213,40.453628,-79.947026,Take Out
476,Penn Station East Coast Sub,Piitsburgh Subs Inc,3/27/07,4815,Centre Ave,15213,40.453628,-79.947026,Take Out
494,Pizza Hut #024022,Aurora Huts LLC,11/9/07,4710,Baum Blvd,15213,40.453887,-79.949561,Take Out
507,Pizza Pronto,M & J Food Services LLC,4/9/03,4611,Centre Ave,15213,40.452187,-79.951648,Take Out
514,Popeyes Louisiana Kitchen #11352,Black N Orange LLC,11/2/12,3616,5th Ave,15213,40.441537,-79.958418,Dollar Menu
520,Qdoba Mexican Grill,Brooks Hospitality LLC,5/3/06,4815,Centre Ave,15213,40.453628,-79.947026,NO Dollar Menu
523,Quiznos Subs #8721,Q-Sub Systems LLC,9/25/06,300,S Craig St,15213,40.445591,-79.949240,NO Dollar Menu
529,Rita's Italian Ice,DD Ice LLC,6/9/16,3712,5th Ave,15213,40.441845,-79.957882,"Breakfast, Drink, Other"
536,Rose Tea Cafe Express,Rose Tea Cafe Express LLC,11/30/12,414,Craig St,15213,40.444800,-79.948843,"Breakfast, Drink, Other"
550,Sichuan Gourmet,Sichuan Gourmet II LLC,7/14/15,328,Atwood St,15213,40.438899,-79.955203,Take Out
558,Sincerely Yogurt,Quintox LLC,5/12/14,3400,5th Ave,15213,40.439152,-79.962019,"Breakfast, Drink, Other"
576,Starbucks Coffee,Sodexho Management Inc,9/24/97,4200,5th Ave,15213,40.444271,-79.953291,"Breakfast, Drink, Other"
591,Starbucks Coffee #787,Starbucks Coffee Co,8/17/99,3618,Forbes Ave,15213,40.440875,-79.957545,"Breakfast, Drink, Other"
595,Starbucks Coffee #2900,Starbucks Coffee Co,11/20/03,417,S Craig St,15213,40.444714,-79.948573,"Breakfast, Drink, Other"
615,Starbucks Coffee #27117 Amos Hall,Starbucks Coffee Company,1/28/16,4022,5th Ave,15213,40.443605,-79.955655,"Breakfast, Drink, Other"
624,Subway,Manisha Fast Food Inc,11/4/05,4613,Centre Ave,15213,40.452206,-79.951589,NO Dollar Menu
702,Subway Sandwiches & Salads,D&J Subs LLC,2/19/08,3707,Forbes Ave,15213,40.441327,-79.957546,NO Dollar Menu
703,Subway Sandwiches & Salads,Naspal Bros Inc,7/21/04,418,S Craig St,15213,40.444757,-79.948953,NO Dollar Menu
727,Sushi Fuku,Sushi Fuku LLC,8/15/12,120,Oakland Ave,15213,40.441664,-79.957366,Take Out
728,Sushi Fuku #2,Sushi Fuku LLC,5/4/15,417,Craig St,15213,40.454609,-79.954019,Take Out
754,Tenders,Tenders Pittsburgh Inc,2/12/15,121,Oakland Ave,15213,40.441864,-79.957123,"Breakfast, Drink, Other"
756,The Bagel Factory,Pittsburgh Bagel Factory Inc,8/23/12,420,Craig St,15213,40.454605,-79.953465,"Breakfast, Drink, Other"
776,Uncle Sam's Subs,Uncle Sam's Inc,8/4/86,210,Oakland Ave,15213,40.441190,-79.956794,Take Out
785,Vocelli Pizza,Pizza Outlet Inc,10/7/93,4740,Baum Blvd,15213,40.453938,-79.948843,Take Out

In [7]:
oakland = fastfood.loc[fastfood['ZIP_Code'] == 15213]
oakland.groupby('ZIP_Code').count()

,Name,Legal_Name,Start_Date,Street_Number,Street_Name,Lat,Lon,Category
ZIP_Code,,,,,,,,
15213,38,37,38,38,38,38,38,38

In [9]:
from shapely.geometry import Point

# combine lat and lon column to a shapely Point() object
zipcode['geometry'] = zipcode.apply(lambda x: Point((float(x.Lon), float(x.Lat))), axis=1)

In [10]:
import geopandas
zipcode = geopandas.GeoDataFrame(zipcode, geometry='geometry')

In [11]:
zipcode.to_file('MyGeometries.shp', driver='ESRI Shapefile')

In [13]:
fastfood2 = pd.read_file("MyGeometries.shp")

AttributeError: module 'pandas' has no attribute 'read_file'